@model List<DeliveryDto>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Your deliveries</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="row pb-3">
            <div class="col-6">
                @using (Html.BeginForm())
                {
                    <p>
                        Filtr by Status: @Html.TextBox("SearchString")
                        <input type="submit" value="Search" />
                    </p>
                }
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Requested pickup Date", "IndexAllCourier", new { sortOrder = ViewBag.PickUpDateSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Requested delivery Date", "IndexAllCourier", new { sortOrder = ViewBag.DeliveryDateSortParm })
                    </th>
                    <th>Cancelation deadline</th>
                    <th>Pickup Date</th>
                    <th>(Try to) Delivery Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model)
                {
                    await Html.RenderPartialAsync("./Partial/_CourierDeliveryRecordPartialView", obj);
                }
            </tbody>

        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function pickupDelivery(deliveryId) {
            $.ajax({
                url: '@Url.Action("PickUp", "Delivery")',
                type: 'POST',
                data: { id: deliveryId },
                success: function (partialView) {
                    var rowToUpdate = $('#tblData').find('tr[data-delivery-id="' + deliveryId + '"]');
                    rowToUpdate.replaceWith(partialView);
                },
                error: function () {
                    alert('Failed to pick up package. Try again.');
                }
            });
        }

        function deliverDelivery(deliveryId) {
            $.ajax({
                url: '@Url.Action("Deliver", "Delivery")',
                type: 'POST',
                data: { id: deliveryId },
                success: function (partialView) {
                    var rowToUpdate = $('#tblData').find('tr[data-delivery-id="' + deliveryId + '"]');
                    rowToUpdate.replaceWith(partialView);
                },
                error: function () {
                    alert('Failed to deliver package. Try again.');
                }
            });
        }
    </script>
}

