@model Inquiry

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Inquiry</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        @using (Html.BeginForm(FormMethod.Post, new { @class = "row" }))
        {
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    @* <input asp-for="deliveryDate" class="form-control border-0 shadow" /> *@
                    @Html.LabelFor(model => model.deliveryDate, new { @class = "ms-2" })
                    @* <label asp-for="deliveryDate" class="ms-2"></label> *@
                    @Html.EditorFor(model => model.deliveryDate, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @* <span asp-validation-for="deliveryDate" class="text-danger"></span> *@
                    @Html.ValidationMessageFor(model => model.deliveryDate, "", new { @class = "text-danger" })
                </div>
                <div>Destination addres</div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.destinationAddress.streetName, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.destinationAddress.streetName, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.destinationAddress.streetName, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.destinationAddress.houseNumber, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.destinationAddress.houseNumber, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.destinationAddress.houseNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.destinationAddress.flatNumber, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.destinationAddress.flatNumber, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.destinationAddress.flatNumber, "", new { @class = "text-danger" })
                </div>
                 <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.destinationAddress.city, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.destinationAddress.city, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.destinationAddress.city, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.destinationAddress.postcode, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.destinationAddress.postcode, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.destinationAddress.postcode, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.isPriority, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.isPriority, new { @class = "form-check-label ms-2" })
                    </div>
                    @Html.ValidationMessageFor(model => model.isPriority)
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.weekendDelivery, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.weekendDelivery, new { @class = "form-check-label ms-2" })
                    </div>
                    @Html.ValidationMessageFor(model => model.weekendDelivery)
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        @Html.CheckBoxFor(model => model.isCompany, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.isCompany, new { @class = "form-check-label ms-2" })
                    </div>
                    @Html.ValidationMessageFor(model => model.isCompany)
                </div>
                     <div>Source addres</div>
                 <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.sourceAddress.streetName, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.sourceAddress.streetName, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.sourceAddress.streetName, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.sourceAddress.houseNumber, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.sourceAddress.houseNumber, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.sourceAddress.houseNumber, "", new { @class = "text-danger" })
                </div> 
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.sourceAddress.flatNumber, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.sourceAddress.flatNumber, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.sourceAddress.flatNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.sourceAddress.city, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.sourceAddress.city, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.sourceAddress.city, "", new { @class = "text-danger" })
                </div>


                  <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.sourceAddress.postcode, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.sourceAddress.postcode, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.sourceAddress.postcode, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.weight, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.weight, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.weight, "", new { @class = "text-danger" })
                </div>
                 <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.weightUnit, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.weightUnit, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.weightUnit, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.height, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.height, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.height, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.length, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.length, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.length, "", new { @class = "text-danger" })
                </div>
                 <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.width, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.width, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.width, "", new { @class = "text-danger" })
                </div>
                 <div class="form-floating py-2 col-12">
                    @Html.EditorFor(model => model.package.dimensionsUnit, new { htmlAttributes = new { @class = "form-control border-0 shadow" } })
                    @Html.LabelFor(model => model.package.dimensionsUnit, new { @class = "ms-2" })
                    @Html.ValidationMessageFor(model => model.package.dimensionsUnit, "", new { @class = "text-danger" })
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
@*                         <a asp-controller="Offer" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary border  form-control">
                            View offers
                        </a> *@
                    </div>
                    <div class="col-6 col-md-3">
                        @* <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to Home
                        </a> *@
                        @Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-outline-primary border  form-control" })
                    </div>
                </div>


            </div>
            }
    </div>
</div>




@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}