@model Offer
<br />
<div class="container p-4 border">
    <div>
            <h1 class="text-primary">Offer List</h1>
    </div>

    <table class="table">
		<thead>
			<tr>
				<th>Price</th>
				<th>Taxes</th>
				<th>Fees</th>
				<th>Expiration Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.price</td>
				<td>@Model.fees</td>
				<td>@Model.taxes</td>
				<td>@Model.expirationDate</td>
				@if (Model.expirationDate > DateTime.Now)
				{
					<a asp-controller="Request" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary mx-2">
						<i class="bi bi-pencil-square"></i> Choose
					</a>
				}
			</tr>
		</tbody>
    </table>

</div>